:root {
      font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

body {
  background: radial-gradient(
    circle,
    rgba(71, 45, 108, 1) 0%,
    rgba(55, 30, 89, 1) 40%,
    rgba(5, 2, 8, 1) 90%
  );
  color: white;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(5, 2, 8, 1);
  padding: 0px;
}

#contactimg {
  margin-right: 24px;
}

#flex {
  position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items:stretch;
    justify-content: space-between;
    gap: 2rem;
    padding: 0;
    min-height: 80vh;
    box-sizing: border-box;
}

.first{
    flex: 1 1 50%;}

#movieimg {
  position: relative;
  width: 820px;
  height: 600px;
  border-radius: 20px;
  border: #9f00ff;
  transition: 0.4s ease-in-out;
}

#movieimg img {
  width: 100%;
  height: 100%;
}

#heading {
  color: #9f00ff;
  font-size: 52px;
  font-family: SF Pro;
  font-weight: 860;
  line-height: 8px;
  word-wrap: break-word;
  text-shadow: 0px 4px 15px rgba(255, 255, 255, 0.25);
  margin-left: 20px;
}

#heading2 {
  color: white;
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  word-wrap: break-word;
}

#feel {
  color: #fcff15;
  font-size: 26px;
  font-weight: 700;
  line-height: 4px;
  word-wrap: break-word;
}

#year {
  color: var(--Color-Silver-White-Silver-White-Main, #eeeeee);
  font-size: 20px;
  font-family: SF Pro;
  font-weight: 700;
  line-height: 16px;
  word-wrap: break-word;
}

#movieyear {
  display: flex;
  gap: 10px;
  margin-top: 0;
  align-items: center;
}

.feeling {
  color: var(--Color-Charcoal-Charcoal-10, #060606);
  font-size: 12px;
  font-family: SF Pro;
  font-weight: 700;
  line-height: 27px;
  word-wrap: break-word;
  border-radius: 50px;
  border-color: white;
  padding: 5px 18px;
  align-items: center;
  cursor: pointer;
}

strong {
  color: #fcff15;
}

#prada {
  color: var(--Color-Silver-White-Silver-White-Main, #eeeeee);
  font-size: 24px;
  font-family: SF Pro;
  font-weight: 590;
  line-height: 30px;
  word-wrap: break-word;
}

.corp {
  color: var(--Color-Silver-White-Silver-White-Main, #eeeeee);
  line-height: 33px;
  word-wrap: break-word;
}

.corp1 {
  color: #fcff15;
  line-height: 13px;
  word-wrap: break-word;
}

.row {
  display: flex;
  gap: 5px;
  margin-left: 25px;
  margin-bottom: 50px;
}
#play {
  width: 30px;
  margin-top: 3px;
}

#now {
  border-radius: 50px;
  padding: 5px 35px;
  font-weight: bold;
  color: var(--Color-Charcoal-Charcoal-10, #060606);
  font-size: 16px;
  font-family: SF Pro;
  font-weight: 700;
  line-height: 24px;
  word-wrap: break-word;
}

#discover1 {
  color: var(--Color-Hover-Stroke, #fcff15);
  font-size: 26px;
  font-family: SF Pro;
  font-weight: 700;
  line-height: 72px;
  word-wrap: break-word;
  text-align: right;
}
#discover {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

#arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.history {
  color: white;
  font-size: 26px;
  font-family: SF Pro;
  font-weight: 700;
  line-height: 54px;
  word-wrap: break-word;
}

.movie-img {
  width: 185px;
  height: 285px;
  margin-left: 20px;
}

.movie-img:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

#movie1-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.movie-row {
    position: relative;
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.movie-list {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 15px;
    padding: 10px 0;
}

.movie-list::-webkit-scrollbar {
    display: none;
}

.movie-card img {
    width: 150px;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
}

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: #5e2feb;
    color: white;
    border: none;
    font-size: 28px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.9;
}

.scroll-btn.left {
    left: -10px;
}

.scroll-btn.right {
    right: -10px;
}

.scroll-btn:hover {
    opacity: 1;
}


#movie2-section {
  display: flex;
  justify-content: space-between;
}

#movie3-section {
  display: flex;
  justify-content: space-between;
}

.movie-card {
  min-width: 200px;
  margin-right: 15px;
  transition: transform 0.3s ease;
}


#right-arrow {
  right: 0;
}

#all-movie {
  background-color: radial-gradient(
    circle,
    rgba(71, 45, 108, 1) 20%,
    rgba(55, 30, 89, 1) 70%,
    rgba(5, 2, 8, 1) 100%
  );
}



slide section
.section-title {
  font-size: 26px;
  margin: 20px 0;
  color: white;
}

.movie-slider {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
}

.movie-track {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px;
}

.movie-track::-webkit-scrollbar {
  display: none;
}

.movie-card {
  min-width: 160px;
  flex-shrink: 0;
  text-align: center;
}

.movie-img {
  width: 100%;
  border-radius: 10px;
  transition: 0.3s;
}

.movie-img:hover {
  transform: scale(1.08);
}

.arrow {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  font-size: 30px;
  color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
  transition: 0.3s ease;
}

.arrow:hover {
  background: rgba(255, 255, 255, 0.3);
}

.left {
  left: 10px;
}

.right {
 right: 10px;
}  

footer{
width: 100%;
padding: 20px 20px;
background: #050208;
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
opacity: 0;
animation: fadeUp 1.2s ease forwards;
}


@keyframes fadeUp {
0% { opacity: 0; transform: translateY(10px) scale(0.9); }
100% { opacity: 1; transform: translateY(0) scale(1); }
}


.footer-logo {
font-size: 40px;
font-weight: 700;
color: lch(100% 0.01 296.81);
letter-spacing: 4px;
text-transform: uppercase;
animation: brandPulse 3s infinite ease-in-out;
cursor: pointer;
text-align: center;
}


@keyframes brandPulse {
0% { transform: scale(1); opacity: 0.85; text-shadow: 0 0 5px #000000; }
50% { transform: scale(1.08); opacity: 1; text-shadow: 0 0 12px #000000; }
100% { transform: scale(1); opacity: 0.85; text-shadow: 0 0 5px #000000; }
}


.social-icons {
display: flex;
gap: 25px;
}

.social-icons i {
font-size: 50px;
color: #ffffff;
transition: 0.3s ease;
cursor: pointer;
}


.social-icons i:hover {
transform: translateY(-5px) scale(1.25);
text-shadow: 0 0 10px #000000;
}

.footer-bottom {
color: #cccccc;
font-size: 15px;
text-align: center;
opacity: 0.7;
}



@media (max-width:425px) {
body{
  overflow-x: hidden;
  width: 100%;
}

  #heading{
    font-size: 25px;
  }

  #heading2{
    font-size: 18px;
  }

  #feel{
    font-size: 13px;
    line-height: 13px;
  }

  .feeling{
    display: flex;
    flex-direction: column; /* stack items vertically */
    gap: 6px;   
    line-height: 15px;
    margin-bottom: 10px;
  }

  #prada{

    font-size: 15px;
    line-height: 15px;
  }


  .corp1{
    font-size: 13px;
  }
  .corp{
    line-height: 15px;
  }

  .row{
    align-items: center;
    justify-content: center;
  }

  .section-title{
    text-align: center;
    justify-content: center;
  }
  
  .history{
    font-size: 15px;
    line-height: 15px;
  }

  #discover1{
    font-size:15px ;
    line-height: 15px;
  }

.movie-img{
  width: 280px;
}

  #movie2-section{
    display: flex;
    flex-direction: column;
  }

  #movie3-section{
    display: flex;
    flex-direction: column;
  }

  #movie4-section{
    display: flex;
    flex-direction: column;
  }
  
  .footer-logo{
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .footer-bottom{
    font-size: 13px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

}




@media (max-width:360px) {
body{
  overflow-x: hidden;
  width: 100%;
}

  #heading{
    font-size: 25px;
  }

  #heading2{
    font-size: 18px;
  }

  #feel{
    font-size: 13px;
    line-height: 13px;
  }

  .feeling{
    display: flex;
    flex-direction: column; /* stack items vertically */
    gap: 6px;   
    line-height: 15px;
    margin-bottom: 10px;
  }

  #prada{

    font-size: 15px;
    line-height: 15px;
  }


  .corp1{
    font-size: 13px;
  }
  .corp{
    line-height: 15px;
  }

  .row{
    align-items: center;
    justify-content: center;
  }

  .section-title{
    text-align: center;
    justify-content: center;
  }
  
  .history{
    font-size: 15px;
    line-height: 15px;
  }

  #discover1{
    font-size:15px ;
    line-height: 15px;
  }

  #movie2-section{
    display: flex;
    flex-direction: column;
  }

  #movie3-section{
    display: flex;
    flex-direction: column;
  }

  #movie4-section{
    display: flex;
    flex-direction: column;
  }
  
  .footer-logo{
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .footer-bottom{
    font-size: 13px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

}


@media (max-width:320px) {
body{
  overflow-x: hidden;
  width: 100%;
}

  #heading{
    font-size: 25px;
  }

  #heading2{
    font-size: 18px;
  }

  #feel{
    font-size: 13px;
    line-height: 13px;
  }

  .feeling{
    display: flex;
    flex-direction: column; /* stack items vertically */
    gap: 6px;   
    line-height: 15px;
    margin-bottom: 10px;
  }

  #prada{

    font-size: 15px;
    line-height: 15px;
  }


  .corp1{
    font-size: 13px;
  }
  .corp{
    line-height: 15px;
  }

  .row{
    align-items: center;
    justify-content: center;
  }

  .section-title{
    text-align: center;
    justify-content: center;
  }
  
  .history{
    font-size: 15px;
    line-height: 15px;
  }

  #discover1{
    font-size:15px ;
    line-height: 15px;
  }

  #movie2-section{
    display: flex;
    flex-direction: column;
  }

  #movie3-section{
    display: flex;
    flex-direction: column;
  }

  #movie4-section{
    display: flex;
    flex-direction: column;
  }
  
  .footer-logo{
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .footer-bottom{
    font-size: 13px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

}