
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
    overflow: hidden;
	border: 0;
	font-size: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    position: relative;
    font-family: sans-serif,"SFPRODISPLAYREGULAR";
}



ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    
    text-decoration: none;
}

.backg{
    max-height: 1000px;
    width: auto;
}

.bgimg{
    display: grid;
    grid: auto / auto auto auto auto auto auto auto auto;
    grid-auto-columns:  100%;
    grid-template-rows:1fr 1fr 1fr 1fr  ;
    column-gap:0px;
    row-gap:0px;
    position: absolute;
    z-index: 0;
    height: 100vh;
    z-index: 1;
}


.card img{
    object-fit: fill;
    
}

.card{
    background-color: #ffd8a8;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    height: 300px;
    
}

.form-section{
    display: fl;
}


section {
    position: relative;
    z-index: 2;
    background-color: whitesmoke;
    float: right;
    width: 60%;
    height: 100vh;
    margin-top: -1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
}

.overlay{
    height: 1000px;
    background-color: rgba(6, 1, 12, 0.8);
    position: relative;
    z-index: 2;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

h1{
    font-size: 40px;
}

.header p{
    margin-top: -20px;
    font-size: 20px;
}


.loginOptions{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 30px;
    cursor: pointer;
    
}


.loginOptions button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#E2DAF4;
    border-style: none;
    width: 472px;
    height: 47px;
    border-radius: 20px;
    
}

#loginOptions{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 30px;
    cursor: pointer;
    
}


#loginOptions button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#E2DAF4;
    border-style: none;
    width: 472px;
    height: 47px;
    border-radius: 20px;
    
}


i{
    margin-right: 10px;
}

.break{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.leftline{
    width: 150px;
    height: 2px;
    border-top: solid black 1px;
}

.rightline{
    width: 150px;
    height: 2px;
    border-top: solid black 1px;
}

form{
    display: flex;
    flex-direction: column;
}


input {
    margin-bottom: 15px;
    padding-left: 15px;
    width: 472px;
    height: 47px;
    border-radius: 10px;
    border: solid 1px;
}


.check{
    margin-bottom: 0px;
    width: 20px;
}


.remme {
    width: 80px;
    display:flex;
    gap: 10px;
    align-items: center;    
}

.login button{
    margin-top: 10px;
    font-size: 18px;
    color: white;
    background-color: #6C578A;
    border-style: none;
    width: 472px;
    height: 47px;
    border-radius: 20px;
}


/* SignUp page */

.bod{
    height: 965px;
    justify-content: center;
    align-items: center;
}
.signupcontainer{
    background-color: rgba(0, 0, 0, 0.579);
    width: 934px;
    height: 965px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.frame{
    display: flex;
    flex-direction: column;
    width: 642px;
    height: 848px;
    
    
}


.remme{
    width: 200px;
    font-size: 15px;
}

.signupheader{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signupheader h1{
    color: white;
    font-size: 44px;
}

.signupheader p{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.signUpOptions{

    display: flex;
    flex-direction: column;
    
}

.signUpOptions button{
    font-size: 18px;
    color: white;
    background-color: #6C578A;
    border-style: none;
    width: 570px;
    height: 47px;
    border-radius: 20px;

}

.signUpOptions input{
    width: 548px;
    text-align: center;
    border-radius: 20px;
    background-color: #2c2c2c;
}


.signUpOptions p{
    color: white;
}


.create button{
    font-size: 18px;
    color: white;
    background-color: #6C578A;
    border-style: none;
    width: 570px;
    height: 47px;
    border-radius: 20px;
}

.signupdiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: -20px;

}

.suleftline{
    width: 250px;
    height: 2px;
    border-top: solid rgb(255, 255, 255) 1px;
}

.signupdiv p{
    color: white;
    font-size: 20px;
}

.surightline{
    width: 250px;
    height: 2px;
    border-top: solid rgb(255, 255, 255) 1px;
}


footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 200px;
}

footer p{
    color: white;
}

footer a{
    font-weight: bold;
    color: white;
}

.support{
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}




.signUpOptions p{
    color: white;
}


.reset button{
    font-size: 12px;
    color: white;
    background-color: #6C578A;
    border-style: none;
    width: 570px;
    height: 47px;
    border-radius: 20px;
}

.signupdiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: -20px;

}

.suleftline{
    width: 250px;
    height: 2px;
    border-top: solid rgb(255, 255, 255) 1px;
}

.signupdiv p{
    color: white;
    font-size: 20px;
}

.surightline{
    width: 250px;
    height: 2px;
    border-top: solid rgb(255, 255, 255) 1px;
}


@media (max-width: 768px) {

    .bgimg, .overlay {
        width: 35%; /* tablet shows more image clearly */
    }

    section {
        width: 65%;
        height: 100vh;
        padding: 40px 20px;
        border-radius: 0;
    }

    .header h1 {
        font-size: 32px;
    }

    .header p {
        font-size: 18px;
    }

    .loginOptions button,
    #loginOptions button {
        width: 90%;
        height: 50px;
        font-size: 16px;
    }

    input {
        width: 90%;
        height: 50px;
        font-size: 16px;
    }

    .login button {
        width: 90%;
        height: 50px;
        font-size: 18px;
    }

}



@media (max-width: 425px) {

    .bgimg, .overlay {
        width: 28%; /* show more image */
    }

    section {
        width: 72%;
        height: 100vh;
        padding: 25px 15px;
        border-radius: 0;
    }

    .header h1 {
        font-size: 26px;
    }

    .header p {
        font-size: 15px;
    }

    .loginOptions button,
    #loginOptions button {
        width: 92%;
        height: 45px;
        font-size: 15px;
    }

    input {
        width: 92%;
        height: 42px;
        font-size: 15px;
    }

    .login button {
        width: 92%;
        height: 85px;
        font-size: 17px;
    }

}



@media (max-width: 375px) {

    /* Show a small part of the bg image */
    .bgimg, .overlay {
        width: 25%;
    }

    section {
        width: 75%;
        padding: 20px 10px;
        height: 100vh;
        border-radius: 0;
    }

    .header h1 {
        font-size: 22px;
        text-align: center;
    }

    .header p {
        font-size: 13px;
        text-align: center;
    }

    .loginOptions button,
    #loginOptions button {
        width: 90%;
        height: 42px;
        font-size: 14px;
    }

    input {
        width: 90%;
        height: 40px;
        font-size: 14px;
    }

    .login button {
        width: 90%;
        height: 40px;
        font-size: 16px;
    }

}



@media (max-width: 320px) {

    body{
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        height: auto;
    }

    section {
        width: 100%;
        height: 100vh;
        margin-top: 0;
        border-radius: 0;
        padding: 20px 10px;
    }

    .header{
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
        line-height: normal;
    }

    h1{
        text-align: center;
        font-size: 22px;
    }

    .header p{
        text-align: center;
        font-size: 14px;
        margin-top: -5px;
    }

    /* Buttons (Google, Apple, Email) */
    .loginOptions button,
    #loginOptions button {
        width: 95%;
        height: 40px;
        border-radius: 12px;
        font-size: 14px;
        margin: auto;
    }

    /* Lines (OR section) */
    .break{
        gap: 10px;
        margin: 20px 0;
        width: 100%;
    }

    .leftline,
    .rightline{
        width: 100%;
    }

    /* Input fields */
    input{
        width: 95%;
        height: 40px;
        margin: 8px auto;
        padding-left: 10px;
        border-radius: 8px;
        font-size: 14px;
    }

    /* Remember me checkbox + label */
    .remme{
        margin-left: 10px;
        font-size: 12px;
        gap: 5px;
    }

    /* Login button */
    .login button{
        width: 95%;
        height: 40px;
        border-radius: 15px;
        font-size: 16px;
        margin: 10px auto;
    }

    /* Background grid image */
    .bgimg{
        display: none;
    }

    .overlay{
        display: none;
    }

    /* Signup page responsiveness */
    .signupcontainer{
        width: 100%;
        height: auto;
    }

    .frame{
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .signUpOptions button,
    .create button,
    .reset button {
        width: 95%;
        height: 40px;
        font-size: 14px;
    }

    .signUpOptions input{
        width: 95%;
        height: 40px;
        border-radius: 15px;
    }

    .signupheader h1{
        font-size: 24px;
        text-align: center;
    }

    .signupheader p{
        font-size: 14px;
        text-align: center;
    }

    .signupdiv{
        gap: 10px;
        margin-top: 10px;
    }

    .suleftline,
    .surightline{
        width: 80px;
    }

    /* Footer */
    footer{
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}
